/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
:root{
  --color-black: #222222;
  --color-white: #FFFFFF;
  --color-navbar-gray: #627B7A;
  --color-home-gray: #2C3D39;
  --color-blue: #418AF2;
  --color-toxic-green: #7AB10E;
  --color-red: #E61610;
}
