.hidden{
  display: none;
}
.prevent{
  pointer-events: none;
}

//Scroll
/* width */
*::-webkit-scrollbar {
  display: none;
}

//Buttons
.btn_blue{
  display: block;
  width: max-content;
  padding: 6px 10px;
  background: var(--color-blue);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-white);
  transition: background-color 0.5s, opacity 0.5s;
  &:hover{}
  &:active{}
  &:disabled{
    filter: grayscale(1);
  }
}
b, strong{
  font-weight: 700;
}