html{}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: 400;
  &:after, &:before{
    position: relative;
  }
}

body{
  margin: 0 auto;
  max-width: 1360px;
  width: 100%;
  overflow-x: hidden;
  &.fixed{
    overflow: hidden;
  }
}
picture,.picture, video, .video{
  display: block;
  isolation: isolate;//for safari
}
img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
button, .btn{
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}
ul, menu{
  list-style: none;
}
input{
  &:focus{
    outline: none;
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--color-white) !important;
  }
}
.input-filed{
  padding: 6px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  &.empty{
    &::placeholder {
      color: rgba(0, 0, 0, 0.2);
    }
  }
}
.input-hidden{
  position: absolute;
  opacity: 0;
  z-index: -5;
}
a, span{
  display: inline-block;
  text-decoration: unset;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
}

